<header>
  <nav id="navigation">
      <a href="#about">about</a>
      <a href="#work">work</a>
      <a href="#contacts">contacts</a>
  </nav>
</header>
<div id="about">
  <h1>Hello, I'm Kanaiev Oleksii</h1>
  <p>a web developer begginer</p>
</div>
<div id="work">
  <h2>List of my apps</h2>
  <nav>
    <ul>
      <li>
          <a routerLink = 'calculator'>Calculator</a>
      </li>
      <li>
          <a routerLink = 'bookstore'>Bookstore</a>
      </li>
      <li>
          <a routerLink = 'drum-machine'>Drum-Machine</a>
      </li>
      <li>
          <a routerLink = 'random-qoute'>Random Quote</a>
      </li>
    </ul>
  </nav>
</div>
<div id="contacts">

</div>
<footer>

</footer>
