#wrap {
    color: white;
    height: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 3s ease-in;
}