#app-drum-machine{
    background-color: #8d8d8d;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    padding-bottom: 33px;
    text-align: center;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    margin: 0 50px 0 50px;
    background-color: #b3b3b3;
    border: 7px solid orange;
}
#logo{
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}
#drum-machine{
    display: flex;
    justify-content: center;
    margin: 0px 25px 25px 25px;
}
@media only screen and (max-width: 768px) and (orientation: landscape){
    main{
        margin: 0;
    }
}
@media only screen and (max-width: 768px) and (orientation: portrait){
    #drum-machine{
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 545px) and (orientation: portrait){
    main{
        margin: 0;
    }
}
