/* You can add global styles to this file, and also import other style files */
@import url('./vars.css');

html{
    scroll-behavior: smooth;
}
.modal-dialog.add-meal-modal{
    margin-top: calc(100vh / 2) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
